* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}
body {
    background-size: 100% auto;
    background-color: #D81B60;
}
body * {
    font-family: Inter, Sans-serif;
    line-height: 160%;
}
main {
    max-width: 580px;
    width: 90%;
    margin: 40px auto;

    display: flex;
    flex-direction: column;
    gap: 34px;
}
section {
    color: white;
    background-image: linear-gradient(90deg, rgb(18, 241, 10) 0%, #2bb182 50.52%, rgb(64, 16, 195) 100%);
    padding-top: 4px;
    border-radius: 10px;
}
section div {
    background-color: rgb(143, 16, 94);
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
}
section p {
    letter-spacing: -0.18px;
    color: #A1A1AA;
}
section ul {
    display: flex;

}
section ul li {
    transition: transform .3s;
}
section ul li:hover {
    transform: scale(1.1);
}
.manga-list img {
    width: 90px;
    border-radius: 8px;
}
.mangaka-list img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    border: 1px solid #42A5F5;
}
section p:nth-child(1){
    font-size: smaller;
}
section ul li p:nth-child(2){
    font-size: 10px;
    margin: 35px;
}